.ui.stackable.middle.aligned.grid {
  border-radius: 5px;
  background: url(../../assets/landing-background.avif);
}

.desp-area {
 padding: 250px 5px 200px 110px;
 min-height: 600px;
}

.landing-main-text {
  color: #6A89B3;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.landing-desp-text {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 15px;
}

.form-area {
  margin: 10px;
}

.action-swift-box {
  display: block;
  text-align: right;
  margin-bottom: 25px;
}

.action-swift-text {
  text-decoration: underline;
  cursor: pointer;
}

.form-area .ui.error.message {
  margin-bottom: 0px !important;
}
