.ui.stackable.middle.aligned.grid {
  border-radius: 5px;
  background: url(../../assets/landing-background.avif);
}

.desp-area {
 padding: 250px 5px 200px 110px;
 min-height: 600px;
}

.landing-main-text {
  color: #6A89B3;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.landing-desp-text {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 15px;
}

.form-area {
  margin: 10px;
}

.action-swift-box {
  display: block;
  text-align: right;
  margin-bottom: 25px;
}

.action-swift-text {
  text-decoration: underline;
  cursor: pointer;
}

.register-form-segment {
  padding: 30px 20px 20px !important;
}

.register-form-heading-text {
  color: #184270;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

.form-area .ui.error.message {
  margin-bottom: 0px !important;
}

.register-form {
  margin: 20px 5px 30px;
}

.register-form label {
  font-size: 14px !important;
  margin: 10px;
}

.register-form .ui.input {
  height: 34px;
}

.register-form-chx label {
  margin: 2px !important;
}

.register-form-chx-req {
  color: #DB2828;
}

.register-form-submit-btn {
  float: right;
  background-color: #2a6eb7 !important;
  color: #fff !important;
  text-shadow: none;
  background-image: none;
}

.login-form-segment {
  padding: 30px 20px 20px !important;
}

.login-form-heading-text {
  color: #184270;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: block;
}

.login-form {
  margin: 20px 5px 30px;
}

.login-form label {
  font-size: 14px !important;
  margin: 10px;
}

.login-form .ui.input {
  height: 34px;
}

.login-form-submit-btn {
  float: right;
  background-color: #2a6eb7 !important;
  color: #fff !important;
  text-shadow: none;
  background-image: none;
}

.login-form-forgot-pw {
  display: block;
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}